/* .home {
    background-image: url('');
} */

.home h1 {
    color: var(--main-red);
    text-shadow: 4px 4px 4px var(--main-black);
}

.home p {
    font-style: italic;
}

.home button {
    font-size: 1.2rem;
    font-weight: bold;
}

.home .about-btn {
    color: var(--main-black);
    border: 1px solid var(--main-black);
    background: transparent;
}
