.footer-grid {
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.footer-grid a {
    color: var(--main-black);
}

.footer-grid a:hover {
    color: var(--main-red);
}

footer a {
    color: var(--main-black);
}

@media (max-width: 991px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .grid-row {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0rem;
    }
}

@media (max-width: 767px) {
    .grid-row {
        grid-template-columns: auto;
    }
    .sm-screen-mt {
        margin-top: -50px;
    }
    .sm-screen-mt2 {
        margin-top: -15px;
    }
}

@media (max-width: 453px) {
    .footer-grid {
        grid-template-columns: auto;
        padding-left: 2%;
        padding-right: 2%;
    }
    .smx-screen-mt {
        margin-top: -50px;
    }
    footer .logo {
        width: 40px;
        height: 40px;
    }
}
